/* styles.css */

@media (max-width: 600px) {
  .hide-on-small-screen {
    display: none;
  }
  .logo-image {
    display: none;
  }
}

@media (max-width: 1000px) {
  .hide-on-medium-screen {
    display: none;
  }
}

.logo-image {
  max-width: 50px;
  height: auto;
}